.singleMovie {
    width: 200px;
    margin: 10px;
}

.movieTile {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
}